@import "tailwindcss";

html {
  scroll-behavior: smooth;
}





.glass-cardd {
  background: rgba(255, 255, 255, 0.15); /* Light transparent white */
  backdrop-filter: blur(15px) saturate(180%); /* Frosted glass blur */
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border for edges */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.glass-card {
  background: linear-gradient(
      135deg,
      rgba(126, 37, 37, 0.11)0%,
      rgba(0, 0, 0, 0.05) 100%
  );
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  border: 1px solid rgba(255, 0, 0, 0.25);
  border-radius: 1rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  position: relative;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

